*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/tmp/
hadoop.log.2015-01-25
morphline-test-7011435035404923748.conf
hadoop.log.2014-12-17
hadoop.log.2015-01-23
